<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}블랙커피의 블로그{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            padding-top: 56px;
        }
    </style>
</head>
<body>
<!-- navbar  -->
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" id="navbar">
    <div class="container">
        <a href="{% url 'blog' %}" class="navbar-brand">Blackcoffee Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_me/">About me</a>
                </li>
            </ul>

            <ul class="nav navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="blog-list">{{ user }}<span
                            class="caret"></span> </a>
                    <div class="dropdown-menu" aria-labelledby="themes">
                        <a class="dropdown-item" href="#">회원 관리(안됨)</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/accounts/logout/">로그아웃</a>
                    </div>
                </li>
                {% else %}
                    <li class="nav-item">
                        <!-- 버튼 트리거 모달 -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#gogle_login_modal">
                            로그인
                        </button>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% load socialaccount %}

<!-- Modal -->
<div class="modal fade" id="gogle_login_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">로그인을 해주시길 바랍니다.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <a role="button" class="btn btn-primary" href="{% provider_login_url 'google' %}"><span class="material-icons">input</span> 구글 로그인</a>
                        <a role="button" class="btn btn-danger" href="/accounts/login/"><span class="material-icons">email</span> 이메일 로그인</a>
                    </div>
                    <div class="col-md-6">
                        <a role="button" class="btn btn-danger" href="/accounts/signup/"><span class="material-icons">email</span> 이메일 회원가입</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<br>
<!-- 본문 -->
<div class="container">
    {% block blog_title %}{% endblock %}
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8" id="main-div">
            {% block content %}
            {% endblock %}

            <!-- Pagination -->
            {% block pagination %}
            {% endblock %}
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4" id="sid_div">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" id="search-input" onkeydown="wait_for_enterkey();" class="form-control" placeholder="Search for...">
                        <span class="input-group-append">
                <button class="btn btn-secondary" type="button" onclick="search_post();">Go!</button>
              </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4" id="category-card">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                {% for category in category_list %}
                                    <li>
                                        <a href="{{ category.get_absolute_url }}">{{ category.name }} ({{ category.post_set.count }})</a>
                                    </li>
                                {% endfor %}

                                <li>
                                    <a href="blog/category/_none/">미분류 ({{ posts_without_category }})</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->
</div>
<script>
    function search_post() {
        var search_value = document.getElementById('search-input').value;
        location.href="/blog/search/" + search_value + "/";
    }
    
    function wait_for_enterkey() {
        if (window.event.keyCode == 13){
            search_post();
        }
    }
</script>
<script src="{% static 'blog/js/jquery.js' %}"></script>
<script src="{% static 'blog/js/popper.js' %}"></script>
<script src="{% static 'blog/js/bootstrap.js' %}"></script>
<script src="{% static 'blog/js/custom.js' %}"></script>
</body>
</html>