{% extends "blog/base.html" %}

{% block blog_title %}
    {% if user.is_authenticated %}
        <button class="btn btn-primary float-right" onclick="location.href='/blog/create'">New Post</button>
    {% endif %}
    <h1 class="my-4" id="blog-list-title">
        Blackcoffee Blog
        {% if category %}<small class="text-muted">{{ category }}</small>{% endif %}
        {% if tag %}<small class="text-muted">: #{{ tag }}</small>{% endif %}
        {% if search_info %}<small class="text-muted">: {{ search_info }} ({{ object_list.count }})</small>{% endif %}
    </h1>
{% endblock %}

{% block content %}
    <!-- Blog Post -->
    {% if object_list.exists %}
        {% for object in  object_list %}
            <div class="card mb-4" id="post_card_{{ object.pk }}">
                {% if object.head_image %}
                    <img class="card-img-top" src="{{ object.head_image.url }}" alt="blog image">
                {% else %}
                    <img class="card-img-top" src="https://picsum.photos/750/300" alt="blog image">
                {% endif %}
                <div class="card-body">
                    {% if object.category %}
                        <span class="badge badge-primary float-lg-right">{{ object.category }}</span>
                    {% else %}
                       <span class="badge badge-primary float-lg-right">미분류</span>
                    {% endif %}

                    <h2 class="card-title"> {{ object.title }} </h2>
                    <p class="card-text"> {{ object.content | truncatewords:50 }} </p>
                    {% for tag in object.tags.all %}
                        <a href="{{ tag.get_absolute_url }}">#{{ tag }}</a>
                    {% endfor %}
                    <br><br>

                    <a href="{{ object.get_absolute_url }}" class="btn btn-primary" id="read_more_post_{{ object.pk }}">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    {{ object.created }} by {{ object.author }}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h3>아직 게시물이 없습니다.</h3>
    {% endif %}
{% endblock %}

{% block pagination %}
    {% if is_paginated %}
    <ul class="pagination justify-content-center mb-4">
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&larr; Older</a>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link disabled" href="#">&larr; Older</a>
        {% endif %}
        </li>
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Newer &rarr;</a>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Newer &rarr;</a>
        {% endif %}
        </li>
    </ul>
    {% endif %}
{% endblock %}