{% extends 'basecamp/base_full.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1 class="my-3">About Me</h1>
            <h3 class="my-3">안녕하세요. 개발자 Hyeon입니다.</h3>

            <h5 class="my-3">새로운 일을 기다리고 있습니다.</h5>
            <p>돈이 될만한 일을 찾고 있습니다. python이랑 django 약간 다를 줄 알아요.
            제발 돈좀 보내주세요. 제가 일을 참 잘합니다.</p>
        </div>
        <div class="col-md">
            <img class="img-fluid" src="{% static 'basecamp/images/man.jpg' %}"/>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid" src="{% static 'basecamp/images/man.jpg' %}"/>
            </div>
            <div class="col-md">
                <h1 class="my-3">Content me</h1>
                <h3>E-mail : <small>axzswq@gmail.com</small></h3>
            </div>
        </div>
    </div>
{% endblock %}